<mat-tab-group dynamicHeight>
    <mat-tab label="Java">
        <section class="wrapper">

          <div class="example-large-box mat-elevation-z4">
            Java
            </div>
            <div class="example-large-box mat-elevation-z4">
                Java
            </div>
            <div class="example-large-box mat-elevation-z4">
              Others
            </div>
            <div class="example-large-box mat-elevation-z4">
              Others
            </div>
            

        </section>
    </mat-tab>
    <mat-tab label="Php">
        <section class="wrapper">

          <div class="example-large-box mat-elevation-z4">
            afa
            </div>
            <div class="example-large-box mat-elevation-z4">
                Java
            </div>

            

        </section>
    </mat-tab>
        
  </mat-tab-group>
