<mat-toolbar color="primary">
  <span><a mat-raised-button color="primary" routerLink="/welcome" routerLinkActive="mat-accent">Welcome</a></span>
  <span class="example-spacer"></span>
  <span>We aaaaare code</span>
  <span class="example-spacer"></span>
  <span>
    <a mat-raised-button color="primary" routerLinkActive="mat-accent"  routerLink="/login">
      <mat-icon aria-hidden="false" aria-label="register icon">
        account_box
      </mat-icon>
      Login
    </a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>